@import 'paths';

@font-face {
  font-family: Befindisa;
  src: url($assets_path + '/fonts/Befindisa.otf');
}

@font-face {
  font-family: Oswald;
  src: url($assets_path + '/fonts/Oswald-ExtraLight.ttf');
}

@font-face {
  font-family: Avenir;
  src: url($assets_path + '/fonts/AvenirLight.otf');
}
