@import "../../assets/sass/theme"

@include font-face('../../assets')

.quote
  background: white url('../../assets/img/placeholder.png') no-repeat center center fixed
  background-size: cover
  padding: 50px 0
  height: 300px

.text
  font-family: Oswald, sans-serif
  font-size: 24px
  font-weight: 300
  font-style: italic
  font-stretch: normal
  line-height: 2.04
  letter-spacing: 1.2px
  text-align: center
  color: $black

.verse
  font-family: Befindisa, serif
  font-size: 40px
  font-weight: normal
  font-style: normal
  font-stretch: normal
  line-height: normal
  letter-spacing: 1.5px
  text-align: center
  color: $black

