@import '../../assets/sass/theme'

@include font-face('../../assets')
.title
  font-family: Befindisa, serif
  font-size: 130px
  letter-spacing: 4.7px
  text-align: center
  color: $black


.timer
  font-family: Oswald, sans-serif
  font-size: 60px
  font-weight: 300
  font-style: italic
  font-stretch: normal
  line-height: normal
  letter-spacing: 2.2px
  text-align: center
  color: $black


.landing
  height: 100vh
  display: table
  text-align: center
  width: 100%

.header
  height: 100vh
  position: relative
  background: white url(../../assets/img/placeholder.png) no-repeat bottom center scroll
  background-size: cover

.intro
  display: table-cell
  vertical-align: middle
