/* Fonts */

@font-face {
    font-family: Oswald;
    src: url(../fonts/Oswald-ExtraLight.ttf);
}

@font-face {
    font-family: Befindisa;
    src: url(../fonts/Befindisa.otf);
}

@font-face {
    font-family: Avenir;
    src: url(../fonts/AvenirLight.otf);
}

/* Text Styles */
h1 {

    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    font-size: 3em;
    font-weight: 200;
    letter-spacing: 0.05em;
    text-align: center;
    color: black;
    margin-bottom: 110px;
}

h2 {
    font-family: Befindisa, serif;
    font-size: 4em;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.015em;
    text-align: center;
    color: black;
}

p {
    font-family: Avenir, sans-serif;
    font-size: 1em;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 0.015em;
    text-align: center;
    color: black;
    white-space: pre-line;
}

/* Globals */
section {
    padding-top: 150px;
    padding-bottom: 189px;
}

.button {
    color: black;
    border-color: #a6c6c6;
}

.button:hover {
    color: #a6c6c6;
}

/* Proteas */
.protea-container {
    position: relative;
    width: 100%;
}

.protea {
    position: absolute;
    overflow: hidden;
}

/* Cards */
.card-section {
    text-align: center;
}

.card-title {
    margin-bottom: 45px;
}

.card-content {
    text-align: center;
}

.card-icon {
    width: 143px;
    height: 143px;
}

.card-section .title {
    font-family: Avenir, sans-serif;
    font-size: 1.5em;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.025em;
    text-align: center;
    color: black;
}

.card-section .content {
    font-family: Avenir, sans-serif;
    font-size: 1.3em;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.55;
    letter-spacing: 0.025em;
    text-align: center;
    color: black;
    margin: auto;
}

/* Landing */
.landing {
    height: 100vh;
    position: relative;
    background: white url(../img/landing.jpg) no-repeat right center scroll;
    background-size: cover;
    right: 0;
}

.landing-body {
    height: 100vh;
    display: table;
    text-align: center;
    width: 100%;
}

.intro {
    display: table-cell;
    vertical-align: top;
}

#landing .title {
    font-family: Befindisa, serif;
    font-size: 5.5em;
    text-align: center;
    color: black;
    margin-bottom: 0;
}

.timer {
    font-family: Oswald, sans-serif;
    font-size: 2em;
    font-weight: 300;
    font-style: italic;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1em;
    text-align: center;
    color: black;
}

header h1 {
    margin-top: 88px;
    margin-bottom: 34px;
}

#landing .protea {
    height: 900px;
    width: 400px;
    top: 180px;
    left: 0;
}

#landing .protea img {
    position: absolute;
    top: 0;
    right: 0;
    width: 120%;
}

/* Info */

#info .card-section .title {

}

#info .card-section .content {

}

/* Detail */
#detail .card-section .title {
    font-family: Befindisa, serif;
    font-size: 2.5em;
    font-weight: normal;
    letter-spacing: 0.1em;
}

#detail .card-section .content {
    font-size: 1.2em;
    font-weight: 200;
    line-height: 1.55;
    letter-spacing: 0.04em;
    text-align: center;
    color: black;
}

#detail .card-icon {
    margin-bottom: 40px;
}

#detail .card-title {
    margin-bottom: 27px;
}

#detail .protea {
    height: 596px;
    width: 520px;
    top: 0;
    right: 0;
}

#detail .protea img {
    width: 650px;
}

/* Quote */

#quote {
    background: white url('../img/quote.jpg') no-repeat center center fixed;
    background-size: cover;
    padding: 50px 0;
    height: 300px;
}
#quote .text {
    font-family: Oswald, sans-serif;
    font-size: 1.5em;
    font-weight: 300;
    font-style: italic;
    font-stretch: normal;
    line-height: 2.04;
    letter-spacing: 0.075em;
    text-align: center;
    color: black
}

#quote .verse {
    font-family: Befindisa, serif;
    font-size: 2.5em;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.09em;
    text-align: center;
    color: black;
}

/* Venue en Accommodation */
#vna .description {
    max-width: 300px;
    margin: auto;
    margin-bottom: 20px;
}

#vna .protea {
    top: 0px;
    left: 0px;
    width: 218px;
    height: 342px;
}

#vna .protea img {
    width: 230px;
    transform: rotate(-180deg);
    opacity: 0.47;
}

/* Gifts */
.gifts-left p, .gifts-left h2 {
    text-align: left
}

.gifts-right p, .gifts-right h2 {
    text-align: right
}

.gift-icon {
    background-color: #efefef;
    border-radius: 100%;
    height: 136px;
    width: 136px;
    text-align: center;
    width: 252px;
    height: 252px;
}

#gifts .card-icon {
    width: 218px;
    height: 218px;
    margin-top: 15px;
}

/*RSVP*/
#rsvp .protea {
    top: 0px;
    right: 0px;
    width: 294px;
    height: 629px;
}

#rsvp .protea img {
    width: 120%
}


