/* Fonts */

@font-face {
    font-family: Oswald;
    src: url(../fonts/Oswald-ExtraLight.ttf);
}

@font-face {
    font-family: Bloom;
    src: url(../fonts/BeautifulBloom-Regular.otf);
}

@font-face {
    font-family: Avenir;
    src: url(../fonts/AvenirLight.otf);
}
/* Global */
html {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    background-color: white;
}

/* Text Styles */
h1 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 200;
    letter-spacing: 0.05rem;
    text-align: center;
    color: black;
    margin-bottom: 110px;
}

h2 {
    font-family: Bloom, serif;
    font-size: 4rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.015rem;
    text-align: center;
    color: black;
}

p {
    font-family: Avenir, sans-serif;
    font-size: 1rem;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 0.015rem;
    text-align: center;
    color: black;
    white-space: pre-line;
}

/* Globals */
section {
    padding-top: 50px;
    padding-bottom: 50px;
}

.button {
    color: black;
    border-color: #a6c6c6;
    margin-bottom: 10px;
}

.button:hover {
    color: #a6c6c6;
}

/* Proteas */
.protea-container {
    position: relative;
    width: 100%;
    z-index: -100;
}

.protea {
    position: absolute;
    overflow: hidden;
    -webkit-transition: opacity 2s; /* Safari */
    transition: opacity 2s;
}

/* Cards */
.card-section {
    text-align: center;
    margin-bottom: 20px;
}

.card-title {
    margin-bottom: 20px;
}

.card-content {
    text-align: center;
}

.card-icon {
    width: 143px;
    height: 143px;
}

.card-section .title {
    font-family: Avenir, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.025rem;
    text-align: center;
    color: black;
}

.card-section .content {
    font-family: Avenir, sans-serif;
    font-size: 1.3rem;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.55;
    letter-spacing: 0.025rem;
    text-align: center;
    color: black;
    margin: auto;
}

/* Landing */
.landing {
    position: relative;
    background: white url(../img/landing.jpg) no-repeat right center scroll;
    background-size: cover;
    right: 0;
}

.landing-body {
    height: 100vh;
    display: table;
    text-align: center;
    width: 100%;
}

.intro {
    display: table-cell;
    vertical-align: top;
}

#landing .title {
    font-family: Bloom, serif;
    font-size: 7.5rem;
    text-align: center;
    color: black;
    margin-bottom: 0;
    text-shadow: 3px 3px 0 #a7c6c6;
}

.timer {
    font-family: Oswald, sans-serif;
    font-size: 2rem;
    font-weight: 300;
    font-style: italic;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1rem;
    text-align: center;
    color: black;
}

header h1 {
    margin-top: 88px;
    margin-bottom: 34px;
}

#landing .protea-container {
    z-index: 0;
}

#landing .protea {
    height: 910px;
    width: 460px;
    top: 180px;
    left: 0;
}

#landing .protea img {
    position: absolute;
    top: 0;
    right: 0;
    width: 120%;
}

/* Info */
#info {
    margin-bottom: 70px;
}
#info .card-section .title {
}

#info .card-section .content {
}

.down-arrow-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    background: rgb(168, 198, 198, 0.4);
    display: inline-block;
    color: #fff;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    margin-top: -150px;
    margin-left: -20px;
    position: absolute;
}
.down-arrow-btn:hover, .down-arrow-btn:focus {
    color: #fff;
    background: rgba(168, 198, 198);
}

/* Detail */
#detail .card-section .title {
    font-family: Bloom, serif;
    font-size: 2.5rem;
    font-weight: normal;
    letter-spacing: 0.1rem;
    margin-bottom: 10px;
}

#detail .card-section .content {
    font-size: 1.2rem;
    font-weight: 200;
    line-height: 1.55;
    letter-spacing: 0.04rem;
    text-align: center;
    color: black;
    margin-bottom: 40px;
}

#detail .card-icon {
}

#detail .card-title {
    margin-bottom: 15px;
}

#detail .protea {
    height: 596px;
    width: 520px;
    top: -150px;
    right: 0;
}

#detail .protea img {
    width: 650px;
}

/* Quote */
#quote {
    background: url('../img/quote.jpg') no-repeat bottom center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 50px 0;
    height: 300px;
}

#quote .text {
    font-family: Oswald, sans-serif;
    font-size: 2.8rem;
    font-weight: 300;
    font-style: italic;
    font-stretch: normal;
    line-height: 2.04;
    letter-spacing: 0.075rem;
    text-align: center;
    color: white;
}

#quote .verse {
    font-family: Bloom, serif;
    font-size: 3.5rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.09rem;
    text-align: center;
    color: white;
}

/* Venue en Accommodation */
#vna {
    margin-bottom: 100px;
}

#vna .description {
    max-width: 300px;
    margin: auto;
    margin-bottom: 20px;
}

#venue {
    margin-bottom: 0;
}

#vna .protea-container {
    z-index: 0;
}

#vna .protea {
    top: -202px;
    left: -20px;
}

#vna .protea img {
    width: 330px;
    transform: rotate(-180deg);
    opacity: 0.47;
}

/* Gifts */
.gifts-left p, .gifts-left h2 {
    text-align: left
}

.gifts-right p, .gifts-right h2 {
    text-align: right
}

.gift-icon {
    background-color: #efefef;
    border-radius: 100%;
    text-align: center;
    width: 252px;
    height: 252px;
    margin: auto;
}

.gifts-icon-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#gifts .card-icon {
    width: 218px;
    height: 218px;
    margin-top: 15px;
}

/*RSVP*/
#rsvp .protea {
    top: -400px;
    right: 0px;
    width: 294px;
    height: 629px;
    opacity: 0.8;
}

#rsvp .protea img {
    width: 120%
}

/* People */
#carousel-people {
    width: 100%;
}

.carousel-indicators {
    position: relative;
}
.carousel-indicators li {
    width: 16px;
    height: 16px;
    border-radius: 16px;
    background-color: white;
    border: solid 1.5px black;
}

.carousel-indicators .active {
    background-color: #979797;
}

#people .carousel-inner {
    min-height: 530px;
}

#people .name {
    font-family: Oswald, sans-serif;
    font-size: 2.1rem;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    color: black;
}

#people .quote {
    font-family: Avenir, sans-serif;
    font-size: 1.25rem;
    font-weight: 300;
    text-align: center;
    color: black;
    padding: 0;
}



#people .card-header {
    margin-bottom: 45px
}

#people .protea {
    top: -550px;
    left: -270px;
    width: 744px;
    height: 816px;
    opacity: 0.8;
}

#people .protea img {
    width: 100%;
}

