@import "../../assets/sass/theme"

.protea-container
  @extend %protea-container

.protea
  @extend %protea
  top: 0px
  left: 0px
  width: 218px
  height: 342px

.protea img
  width: 230px
  transform: rotate(-180deg)
  opacity: 0.47
